<app-nav-comprador></app-nav-comprador>

<div class="container-fluid">

  <form [formGroup]="formRecuperar" class="formulario">
    <h2 class="text-center font-weight-bold">Recuperar contraseña</h2>
    <span >Enviaremos un link a tu correo, el cual habilitara la creacion de una nueva contraseña</span>
    <div class="mb-3">
      
      <input type="email" class="form-control" id="email" placeholder="Correo electrónico" formControlName="correo">
    </div>
    
    <div class="text-center">
      <button type="submit" class="btn btn-block" (click)="recuperar()">Confirmar</button>
    </div>
    
    <a routerLink="/login" class="mb-3 d-block text-center custom-link text-black">¿Ya recordaste tu contraseña?</a>
  </form>
</div>
<br>
<app-footer></app-footer>