<app-nav-comprador></app-nav-comprador>

<div class="container-fluid">
  <form [formGroup]="frmLongin" class="formulario">
    <h2 class="text-center font-weight-bold">Inicio de sesión</h2>
    <div class="form-group position-relative">
      <label class="fw-bolder" for="nombre">Nombre de Usuario</label>
      <input type="text" class="form-control" id="nombre" placeholder="Tu nombre de usuario" formControlName="username"
        maxlength="15" minlength="5" pattern="[0-9a-zA-Z_*.]+"
        [ngClass]="{ 'is-invalid': frmLongin.get('username')?.invalid && frmLongin.get('username')?.touched }">
      <div
        *ngIf="frmLongin.get('username')?.invalid && (frmLongin.get('username')?.dirty || frmLongin.get('username')?.touched)"
        class="invalid-tooltip">
        {{ getErrorMessage('username') }}
      </div>
    </div>

    <div class="form-group position-relative">
      <label class="fw-bolder" for="contrasena">Contraseña</label>
      <div class="input-group align-items-center">
        <input type="{{ mostrarContrasena ? 'text' : 'password' }}" class="form-control" id="password"
          placeholder="Contraseña" formControlName="password" maxlength="18" minlength="5" pattern="[0-9a-zA-Z_*]+"
          [ngClass]="{ 'is-invalid': frmLongin.get('password')?.invalid && frmLongin.get('password')?.touched }">
        <button class="btn btn-outline-secondary btn-sm" type="button" (click)="toggleMostrarContrasena()">
          <span *ngIf="mostrarContrasena">
            <i class="fas fa-eye"></i>
          </span>
          <span *ngIf="!mostrarContrasena">
            <i class="fas fa-eye-slash"></i>
          </span>
        </button>
        <div
          *ngIf="frmLongin.get('password')?.invalid && (frmLongin.get('password')?.dirty || frmLongin.get('password')?.touched)"
          class="invalid-tooltip">
          {{ getErrorMessage('password') }}
        </div>
      </div>
    </div>


    <a routerLink="/recuperar" class="mb-3 d-block text-center custom-link text-black">¿Has olvidado tu
      contraseña?</a>

    <div class="text-center">
      <button type="submit" style="border-radius: 16px; background: #68548C; color: #FFF;" class="btn btn-block"
        (click)="login()">Iniciar
        sesión</button>
    </div>
    <p class="text-center">¿No tienes cuenta? <a routerLink="/registro" class="custom-link text-black"><span>Crea
          una.</span></a></p>
  </form>
</div>
<br>
<app-footer></app-footer>


<!-- <div class="card p-4 rounded-lg">
    <form [formGroup]="frmLongin" class="formulario">
        <h2 class="mb-4 text-center font-weight-bold" style="color: #20242C;">Inicia sesión</h2>
        <fieldset>
            <div class="form-group">
                <label for="email" style="color: #20242C;">Nombre de usuario</label>
                <input type="text" formControlName="username" class="form-control rounded_1" id="email" placeholder="nombre de usuario">
            </div>
            <div class="form-group">
                <label for="password" style="color: #20242C;">Contraseña</label>
                <input type="password" formControlName="password" class="form-control rounded_1" id="password"
                    placeholder="Introduce tu contraseña">
            </div>
            <a href="#" class="mb-3 d-block text-center" id="link">¿Has olvidado tu contraseña?</a>
            <button type="submit" style="border-radius: 16px; background: #68548C; color: #FFF;"
                class="btn btn-block rounded-pill" (click)="login()">Iniciar sesión</button>
                <button class="btn btn-block rounded-pill" (click)="cerrar()">cerrar</button>
        </fieldset>
    </form>
    <p class="text-center mt-3" style="color: #20242C;">¿No tienes cuenta?<a routerLink="/registro" > Crea una</a></p>
</div> -->