<app-nav-vendedor></app-nav-vendedor>
<div class="container-fluid">
    <div class="row ">
        <!-- <div class="col-lg-3 col-sm-12 shadow p-3 m-3 text-center">
                <div class="circulo">
                    <img src="../img/7431863.jpg" alt="imagen">
                </div>
                <h2>Tienda Randon</h2>
                <p>Vendedor</p>
                <a class="btn btn-custom" routerLink="Productos">Inventario</a>
                <a class="btn btn-custom p-2" routerLink="Categorias">Categorias</a>
                <a class="btn btn-custom"routerLink="Ofertas">Ofertas</a>
                <a class="btn btn-custom" routerLink="Pedidos">Pedidos</a>
                <a class="btn btn-custom" routerLink="PQRS">PQRS</a>
                <br>
                <br>
                <br>
                <a href="inventario_vendedor.html" class="btn btn-custom">Cerrar Sesion</a>
            </div> -->
        <div class="col-lg-3 col-md-4 col-sm-12 shadow p-3 m-3 text-center">
            <div class="circulo d-flex justify-content-center align-items-center">
                <img class="img-fluid"
                    src=""
                    alt="imagen local">
            </div>
            <h2 class="m-1">{{local.nombre_local}}</h2>
            <p class="m-2">Vendedor</p>
            <a routerLink="informacion_" class="btn btn-custom m-2">Tú Información</a>
            <a routerLink="productos" class="btn btn-custom m-2">Inventario</a>
            <a routerLink="pedidos" class="btn btn-custom  m-2">Pedidos</a>
            <a routerLink="agregar" class="btn btn-custom m-2">Agregar Producto</a>
            <a routerLink="agregar/oferta-categorias" class="btn btn-custom  m-2">Agregar Ofertas y Categorías</a>
            <a routerLink="pqrs" class="btn btn-custom  m-2">PQRS</a>
            <a routerLink="" class="btn btn-custom m-2">Cambiar Contraseña</a>
            <br>
            <br>
            <br>
            <a href="" class="btn btn-custom ">Cerrar Sesión</a>
        </div>
        <div class="col-lg-8 col-sm-12 m-3 p-3 border shadow">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>