<app-nav-comprador></app-nav-comprador>
<main class="container pt-2">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" *ngFor="let f of fotosP">
                    <img src="http://127.0.0.1:8000{{f.image}}"
                alt="imagen-producto" class="img-fluid">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"><</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">></span>
                </button>
              </div> 
        </div>
        <div class="col-md-6">
            <div class="container-info-product">
                <div class="container-price">
                    <h3 class="strong">{{producto.nombre}}</h3>
                    <h5 [(ngModel)]="precio" >{{producto.precio}}</h5>
                    <p class="strong">
                       {{producto.descripcion}}
                    </p>
                    <p class="strong">
                      Marca:  {{producto.marca}}
                    </p>
                    <p class="strong">
                      Talla:  {{producto.talla}}
                    </p>
                    <p class="strong">
                       Color: {{producto.color}}
                    </p>
                    <p class="strong">
                       Local: {{producto.local}}
                    </p>

                </div>
                <div> Disponibles:{{producto.disponible}}</div>
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" max="{{disponible}}" class="form-control input-quantity"
                        id="quantity" [(ngModel)]="cantidad"/>
                    <div class="btn-increment-decrement">
                    </div>
                </div>
                <div>Total:</div>
                <p id="total">{{producto.precio * cantidad}}</p>
                <br>
                <button class="btn btn-success m-1" routerLink="/carrito">Ver carrito</button>
                <button class="btn btn-primary m-1" (click)="agregarCarrito()">
                    <i class="fa-solid fa-plus"></i> Agregar
                </button>
            </div>
        </div>
    </div>
</main>
