.formulario {
    margin: 0 auto;
    width: 345px;
    height: 420px;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 50px;
    margin-top: 50px;
}

a:hover span {
    color: #810781;
    /* Color del texto al resaltar */
}
button:hover {
    background: #645088;
}
button {
    border-radius: 16px; 
    background: #68548C; 
    color: #FFF;
    margin: 10px;
}

.input-group .btn {
    padding: 0.2rem 0.5rem;
    width: 2rem;
    height: 38px;
    margin-bottom: 0.6rem;  
}


.input-group input {
    width: 3rem;
}