<app-nav-comprador></app-nav-comprador>
<div class="container  m-5 shadow p-5">
    <form [formGroup]="formRecuperar" class="formulario">
      <h2 class="text-center font-weight-bold">Recuperar contraseña</h2>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email" placeholder="Correo electrónico" formControlName="correo">
      </div>
      <div class="text-center">
        <button type="submit" style="border-radius: 16px; background: #68548C; color: #FFF;" class="btn btn-block" (click)="recuperar()">Iniciar
          sesión</button>
      </div>
    </form>
  </div>
