<app-nav-comprador></app-nav-comprador>
<div class="container-fluid">
    <div class="row ">
        <div class="col-3 col-md-3 col-sm-5 col-xxl-2 shadow p-3 m-3 text-center border" style="height: 27rem;">
            <div class="circulo">
                <img src="http://127.0.0.1:8000{{local.image}}" alt="imagen" class="img-fluid rounded-circle">
            </div>
            <div>
                <br>
                <h2>{{local.nombre}}</h2>
                <br>
                <p class="mb-1">Número telefónico</p>
                <p class="mb-1">{{local.telefono}}</p>
                <p class="mb-1">Dirección</p>
                <p class="mb-1">{{local.direccion}}</p>
                <p class="mb-1">{{local.correo}}</p>
            </div>
        </div>
        <div class="container-fluid p-md-3  mr-4 col" >
            <div class="row" >
                <div class="card m-3 " style="width: 18rem;" *ngFor="let p of listaProductos">
                    <img class="img-fluid" src=""
                        style="max-height: 9rem; min-height: 9rem;" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">
                            <p>{{p.nombre}}</p>
                        </h6>
                        <p class="card-text">{{p.marca}}</p>
                        <p class="card-text">{{p.precio}}</p>
                        <div class="container d-flex justify-content-center align-items-center">
                            <a href="" class="btn btn-dark " style=" border-radius: 70%;"><i
                                    class="fa-solid fa-plus fa-lg"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>