<footer class="text-center text-lg-start text-white" >
    <div class="container-fluid p-4 pb-0">
        <section class="">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                        style="width: 150px; height: 150px;">
                        <img routerLink="" src="../assets/logo.png" height="150"
                            width="150" loading="lazy" />
                    </div>
                </div>

                <hr class="w-100 clearfix d-md-none" />

                
                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">
                        Sobre nosotros
                    </h5>
                    <ul class="list-unstyled">
                        <li class="mb-1">
                            <p>Somos un servicio para que pongas en internet tu pequeño local y el mundo pueda verlo, y desde este, poder realizar pedidos a vuestro local, además de tener la opción de realizar PQRS</p>
                        </li>
                    </ul>
                </div>

                <hr class="w-100 clearfix d-md-none" />

                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Servicio al cliente</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/preguntas-frecuentes" class="text-white mr-3">Preguntas Frecuentes</a>
                        </li>
                        <li>
                            <a routerLink="/crear-pqrs" class="text-white mr-3">P.Q.R.S</a>
                        </li>
                        <li>
                            <a class="text-white" routerLink="/ter-y-con">Términos y condiciones</a>
                        </li>

                    </ul>
                </div>


                <hr class="w-100 clearfix d-md-none" />

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
                    <p>¿Quieres unirte a nuestro equipo de desarrollo? Contactanos a estos datos</p>
                    <p><i class="fas fa-envelope mr-3"></i> shoes.company246@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> +57 301 2106 430 </p>
                </div>
            </div>
        </section>

        <hr class="my-3">

        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <div class="p-3">
                        ©2023 Reservado a Shoes company
                    </div>
                </div>

                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://web.facebook.com/shoes.company.2023"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1"  role="button" href="https://www.instagram.com/shoes.company.246/"><i
                            class="fab fa-instagram"></i></a>
                    <!-- Correo -->
                    <a class="btn btn-outline-light btn-floating m-1" role="button" href="mailto:shoes.company246@gmail.com" title="shoes.company246@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" role="button" href="#" title="Github del aplicativo">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://wa.me/+573012106430" title="Whatsapp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    
                </div>
            </div>
        </section>
    </div>
</footer>